* {
    font-family: monospace;
    text-align: center;
}
body {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: darkgrey;
}
header {
    background-color: lightslategray;
    padding: 20px;
    font-size: 50px;
    grid-column: 1/4;
    grid-row: 1;
}
nav{
    background-color: grey;
    width: 100%;
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
}
.nav_button{
    font-size: 25px;
    background-color: grey;
    border: none;
}
.nav_button:hover{
    color: lightskyblue;
}
#btn_nav_home{
    color: lightsteelblue;
}
section {
    grid-column: 1/4;
    grid-row: 3/5;
    height: 100%;
    background-color: rgba(33, 37, 58, 0.431);
}
.div_footer {
    padding: 5px;
}
.div_footer, .link_footer {
    background-color: lightslategrey;
    grid-column: 1/4;
    grid-row: 5;
    text-align: center;
}
a, .link_footer {
    color: black;
    border: none;
    text-decoration: none;
}
a, .link_footer::after {
    color: black;
    border: none;
    text-decoration: none;
}
a, .link_footer:focus {
    color: lightskyblue;
    border: none;
    text-decoration: none;
}
footer {
    grid-column: 1/4;
}
